/*-------------------------------
 Responsive
---------------------------------*/
@media (max-width: 1199px) {
  .container {
    max-width: 100%;
    --bs-gutter-x: 30px;
  }
  
}

@media (max-width: 991px) {
  .header .nav-menu{
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-y: auto;
    background-color: var(--black-100);
    z-index: 1000;
    padding: 15px 0;
    transition: all 0.5s ease;
  }
  .header .nav-menu.open{
    visibility: visible;
    right: 0px;
  }
  .header .menu > .menu-item{
    display: block;
    margin: 0;
  }
  .header .menu > .menu-item-has-children > a{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu > .menu-item > a{
    color: var(--black-900);
    padding: 12px 15px;
    border-bottom: 1px solid var(--black-alpha-100);
  }
  .header .menu > .menu-item:first-child > a{
    border-top: 1px solid var(--black-alpha-100);
  }
  .header .menu > .menu-item > a .plus:before,
  .header .menu > .menu-item > a .plus:after{
    background-color: var(--black-900);
  }
  .header .menu > .menu-item-has-children.active > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  .header .menu > .menu-item > .sub-menu{
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    box-shadow: none;
    transform: translateY(0px);
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
  }
  .header .menu > .menu-item > .sub-menu > .menu-item > a{
    padding: 12px 45px;
    color: var(--black-900);
    border-bottom: 1px solid var(--black-alpha-100);
  }
  .header .close-nav-menu,
  .header .open-nav-menu{
    display: flex;
  }
  .network-text h1 {
    font-size: 40px;
  }

  .contact-form-1{
    font-size: 50px;
    font-weight: 700;
  }
  .network-text,
  .network-img,
  .contact-img,
  .contact-form-1 {
    width: 100%;
  }

  .network-img,
  .metaverse-img,
  .contact-img{
    margin-top: 45px;
  }
  .accordian-section .section-padding,
  .network-img,
  .metaverse-img,
  .fun-facts-img,
  .contact-img{
    margin-bottom: 45px;
  }
  .about-text p {
    font-size: 20px;
  }
  .why-us-item {
    width: calc(50% - 30px);
  }
  .footer-item {
    width: 50%;
  }
  .footer-item {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .container {
    --bs-gutter-x: 15px;
  }
  .box {
    padding: 20px 15px;
  }
  .banner-text h1 {
    font-size: 45px;
  }
  .banner-text h2 {
    font-size: 18px;
  }
  .network-text h1 {
    font-size: 35px;
  }
  .validator-network-text h1{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contact-form-1 h2{
    font-size: 40px;
    font-weight: 700;
  }
  .section-title h2,
  .section-title-1 h2 {
    font-size: 30px;
  }
  .section-title .title,
  h3,
  .form-title,
  .section-title .sub-title {
    font-size: 22px;
  }
  .section-padding {
    padding: 70px 0;
  }
  .form-title,
  .section-title .sub-title {
    font-size: 22px;
  }
  .btn {
    padding: 5px 10px;
    font-size: 16px;
    align-items: center;
  }
}

@media (max-width: 575px) {
  .banner-section {
    background-image: url(../Images/Mobile.png);
  }

  .header-logo a,
  .footer-logo {
    font-size: 22px;
  }

  .network-text h1 {
    font-size: 28px;
  }
  .accordian-section .section-title{
    margin-bottom: -50px;
  }
  .contact-form-1 h2{
    font-size: 35px;
    font-weight: 700;
  }
  .footer-item {
    width: 100%;
  }
  .btn-4 {
    margin-left: 30%;
  }
  .footer-item {
    text-align: center;
  }
  .footer-contact i{
    padding-left: 40px;
  }
  .footer-contact p i {
    position: absolute;
  }
}

@media (max-width: 399px) {
  .header .logo {
    max-width: 150px;
  }
  .header-logo a,
  .footer-logo {
    font-size: 22px;
  }
  
  .banner-text h2 {
    font-size: 20px;
  }
  .banner-text h1,
  .validator-network-text h1 {
    font-size: 35px;
  }
  .contact-form h2{
    font-size: 30px;
    font-weight: 700;
  }
  .contact-form-1 input {
    font-size: 14px;
  }
  
  .contact-form-1 button {
    color: var(--white);
    font-size: 14px;
  }

  .network-view img{
    width: 50%;
  }
  .network-view h5 {
    font-size: 20px;
  }
}
