/*----------------------------------------------------------
   ***************** Table of Content ********************

01. =google fonts
02. =variables
03. =overrides variables for - theme dark
04. =base
0.5 =box
06. =custonized bootstrap classses
07. =animation keyframes
08. =section padding , title
09. =buttons
10. =header
11. =banner section
12. =vision
13. =testimonials
14. =pagination
15. =breadcrumbs
16. =tabs
17. =bubble animation
18. =style switcher
19. =header
20. =footer
21. =banner section
22. =fun facts section
23. =courses section
24. =testimonials section
25. =bai section
26. =course details section
27. =contact section
------------------------------------------------------------*/

/* ------------------------
 01. =google fonts
--------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*-------------------------
 02. =variables
---------------------------*/

:root {
  --main-color: #F83F37;
  --main-color-2: #2dd2fa;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --color-4: #FBE800;
  --color-5: #074c61;
  --bg-dark: #1D1D22;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --overlay: rgba(0, 0, 0, 0.5);
  --shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #0A0014;
  --black-400: #555555;
  --lighg-grey: #dcdcdc;
  --black-100: #FAF9F6;
  --white: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
  --border-color-2: hsl(240, 9%, 25%);
  --border-color-1: hsl(240, 9%, 30%);
}

/*------------------------------------------
 03. =overrides variables for - theme dark
---------------------------------------------*/

/*----------------------------
 04. =base
-------------------------------*/

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  line-height: 1.5;
  /*overflow: hidden;*/
}

body.hidden-scrolling{
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.align-content-center {
  align-content: center;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}
h3 {
  font-size: 20px;
}
::selection {
  color: var(--WHITE);
  background-color: var(--main-color);
}

/*-------------------------------
 0.5 =box
---------------------------------*/
.box {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 30px;
}

/*-------------------------------
 06. =custonized bootstrap classses
---------------------------------*/
.container {
  --bs-gutter-x: 15px;
  max-width: 1140px;
}
.row {
  --bs-gutter-x: 30px;
}
/*-------------------------------
 07. =animation keyframes
---------------------------------*/
@keyframes pulse_01 {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}
/*-------------------------------
 08. =section padding , title
---------------------------------*/
.section-padding {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--black-900);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}
.section-title h2 span {
  color: var(--main-color);
}
.section-title-1 h2 {
  font-size: 40px;
  color: var(--white);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.section-title .sub-title {
  font-size: 35px;
  font-weight: 600;
  color: var(--black-900);
}

/*-------------------------------
 09. =buttons
---------------------------------*/
.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  text-transform: capitalize;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
}
.btn-0 {
  background-color: var(--main-color);
  color: var(--white);
  margin: 2px;
  align-items: center;
  justify-items: center;
}
.btn-0:hover {
  background-color: transparent;
  border-color: var(--main-color);
  color: var(--black-900);
}
.btn-1 {
  background-color: var(--color-2);
  color: var(--white);
  margin: 2px;
}
.btn-1:hover {
  background-color: transparent;
  border-color: var(--main-color);
  color: var(--white);
}

.btn-2 {
  background-color: var(--white);
  padding: 10px 30px;
  color: var(--black-900);
  border-radius: 4px;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-300);
  font-weight: 500;
  cursor: pointer;
}
.btn-2:focus {
  box-shadow: var(--shadow-black-300);
}
.btn-2:hover {
  color: var(--white);
  background-color: transparent;
  border-color: var(--white);
}

.btn-block {
  width: 100%;
}
.btn-form {
  height: 48px;
}

/*-------------------------------
 23. =owl-carousel
---------------------------------*/
.owl-carousel .owl-dots{
  padding: 0 15px;
  text-align: center;
  margin-top: 20px;
}
.owl-carousel button.owl-dot{
  height: 6px;
  width: 24px;
  background-color: #dddddd;
  display: inline-block;
  margin: 0 4px;
  border-radius: 5px;

}
.owl-carousel button.owl-dot.active{
  background-color: var(--main-color);
}

/*-------------------------------
 10. =header
---------------------------------*/
.header {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 15px;
}

.header-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header .logo {
  max-width: 200px;
  padding: 0 15px;
}
.header .nav-menu{
  padding: 0 15px;
}
.header .menu > .menu-item{
  display: inline-block;
  margin-left: 30px;
  position: relative;
}

.header .menu > .menu-item > a{
  display: block;
  padding: 12px 0;
  font-size: 16px;
  color: var(--white);
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.3s ease;
}

.header .menu > .menu-item > a .plus{
  display: inline-block;
  height: 12px;
  width: 12px;
  position: relative;
  margin-left: 5px;
  pointer-events: none;
}

.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  background-color: var(--white);
  height: 2px;
  width: 100%;
  transform: translate(-50%,-50%);
  transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
  background-color: var(--main-color);
}
.header .menu > .menu-item > a .plus:after{
  transform: translate(-50%,-50%) rotate(-90deg);
}

.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
  color: var(--bg-dark);
}

.header .menu > .menu-item > .sub-menu{
  background-color: var(--white);
  box-shadow: var(--shadow);
  width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 10px 0;
  border-top: 3px solid var(--main-color);
  transform: translateY(10px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  }
  .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);
  }
}

.header .menu > .menu-item > .sub-menu > .menu-item{
  display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  color: var(--black-900);
  transition: all 0.3s ease;
  text-transform: capitalize;
}

.header .open-nav-menu{
  height: 34px;
  width: 40px;
  margin-right: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header .open-nav-menu span{
  display: block;
  height: 3px;
  width: 24px;
  background-color: var(--white);
  position: relative;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  box-sizing: border-box;
}

.header .open-nav-menu span:before{
  top: -7px;
}
.header .open-nav-menu span:after{
  top: 7px;
}
.header .close-nav-menu{
  height: 40px;
  width: 40px;
  background-color: var(--black-900);
  margin: 0 0 15px 15px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}
.header .close-nav-menu i{
  width: 16px;
  color: var(--white);
}

.header .menu-overlay{
  position: fixed;
  z-index: 999;
  background-color: var(--overlay);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.header .menu-overlay.active{
  visibility: visible;
  opacity: 1;
}

/*-------------------------------
 11. =banner section
---------------------------------*/
.banner-section {
  background-image: url(../images/BG.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 150px 0;
}
.banner-text h2 {
  font-size: 22px;
  font-weight: 500;
  color: var(--white);
  text-transform: capitalize;
}
.banner-text h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--white);
  text-transform: capitalize;
}
.banner-text p {
  font-size: 16px;
  color: var(--white);
  font-weight: 400;
}
.banner-img img {
  max-width: 1000px;
  width: 100%;
  box-shadow: var(--shadow-black-100);
  border-radius: 32px;
}

.home-btn .video-play-btn {
  margin-left: 30px;
  height: 50px;
  width: 50px;
  padding: 0;
  font-size: 16px;
  animation: pulse_01 2s ease infinite;
}
.home-btn .video-play-btn:hover {
  animation: none;
  box-shadow: var(--shadow-black-300);
}
.home-btn .video-play-btn i {
  line-height: 50px;
}

/*-----------------------------
  Features Section
-------------------------------*/
.features{
  background-color: var(--black-100);
}
.features .feature-item {
  box-shadow: var(--shadow-black-300);
  margin: 15px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  flex-wrap: wrap;
}
.features .feature-item::before,
.features .feature-item::after{
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.5s ease;
  opacity: 0;
}
.features .feature-item::before{
  height: 20px;
  width: 20px;
  background-color: var(--color-1);
  left: -20px;
  top: 40%;
}
.features .feature-item:hover::before{
  left: 10px;
  opacity: 1;
}
.features .feature-item::after{
  height: 30px;
  width: 30px;
  background-color: var(--color-2);
  right: -30px;
  top: 80%;
}
.features .feature-item:hover::after{
  opacity: 1;
  right: -15px;
}
.features .feature-item .icon{
  height: 60px;
  width: 60px;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 30px;
  color: var(--main-color);
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;
}
.features .feature-item .icon::before{
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.5s ease;
  z-index: -1;
  opacity: 0;
}
.features .feature-item:hover .icon{
  color: white;
  font-size: 20px;
}
.features .feature-item:hover .icon::before{
  left: 0;
  border-radius: 50%;
  opacity: 1;
}
.features .feature-item .icon i {
  line-height: 60px;
}
.features .feature-item h3{
  font-size: 22px;
  margin: 0 0 20px;
  color: var(--black-900);
  font-weight: 500;
  text-transform: capitalize;
}
.features .feature-item p{
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: var(--black-400);
  margin: 0 0 15px;
}

/*-----------------------------
 Fun Facts Section
-------------------------------*/
.fun-facts{
  background-color: var(--black-100);
}
.fun-facts .section-title{
  margin-bottom: 20px;
}
.fun-facts .section-title h2{
  text-align: left;
}
.fun-facts-img img{
  max-width: 600px;
  width: 100%;
  animation: bounceTop_01 3s ease infinite;
}
.fun-facts-text h4{
  font-size: 16px;
  font-weight: 300;
  color: var(--bg-dark);
  margin: 0 0 10px;
}
.fun-facts-text{
  font-size: 16px;
  line-height: 26px;
  color: var(--black-400);
  margin: 0 0 15px;
  font-weight: 300;
}
.fun-fact-item{
  padding: 40px 30px;
  text-align: center;
  box-shadow: var(--shadow-black-100);
  border-radius: 10px;
  margin-top: 30px;
}
.fun-fact-item i{
  font-size: 40px;
  font-weight: 700;
  color: var(--white);
  margin: 0 0 15px;
}

.fun-fact-item span{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 15px;
  line-height: 20px;
  display: block;
  color: var(--white);

}
.fun-fact-item p{
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  line-height: 18px;
  display: block;
  color: var(--white);
  flex-wrap: wrap;

}
.fun-fact-item.style-1{
  background-color: var(--color-5);
}
.fun-fact-item.style-2{
  background-color: var(--color-2);
}
.fun-fact-item.style-3{
  background-color: var(--color-3);
}
.fun-fact-item.style-4{
  background-color: var(--color-1);
}

/*-------------------------------
 14. =network
---------------------------------*/
.network-section {
  padding-bottom: 50px;
  background-color: var(--main-color);
}

.network-section .h-100 {
  padding: 120px 0;
}

.network-img,
.network-text {
  width: 50%;
  padding: 0 15px;
}
.network-img-inner {
  max-width: 1000px;
  margin: auto;
}
.network-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.network-img img {
  max-width: 400px;
  width: 100%;
  animation: bounceTop_01 3s ease infinite;
}
.network-text h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
  line-height: 1.2;
  text-transform: capitalize;
}


/*-------------------------------
 16. =Contact Section
---------------------------------*/
.contact-section {
  background-color: var(--black-900);
  padding-bottom: 50px;
}
.contact-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  animation: bounceTop_01 3s ease infinite;
}
.contact-img img {
  max-width: 400px;
  width: 100%;
}
.contact-img,
.contact-form-1 {
  width: 50%;
  padding: 0 15px;
}
.contact-form-1 h2 {
  color: var(--white);
  font-size: 70px;
  font-weight: 700;
}
.contact-form-1 p {
  font-size: 25px;
  font-weight: 600;
  color: var(--white);
}
.contact-form-1 input {
  font-size: 18px;
  width: 60%;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin-right: 10px;
  outline: none;
}

.contact-form-1 button {
  color: var(--white);
  font-size: 18px;
  text-transform: capitalize;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  background: var(--main-color);
}


/*-----------------------------
17. =footer Section
-------------------------------*/
.footer {
  background-color: var(--bg-dark);
  color: var(--white);
}
.footer-top {
  padding: 50px 0 20px;
  border-top: 1px solid var(--border-color-2);
}
.footer-item {
  margin: 0 0 30px;
}
.footer-item h3 {
  text-transform: capitalize;
  margin: 0 0 20px;
}
.footer-logo img{
  max-width: 200px;
  margin-top: -4%;
  margin-bottom: 5px;
}

.footer-item ul li:not(:last-child) {
  margin-bottom: 8px;
}
.footer .footer-item ul a {
  color: var(--black-100);
  transition: color 0.3s ease;
  position: relative;
}

.footer-item ul a:hover {
  color: var(--color-4);
}
.footer-item ul a .social-icon {
  margin-right: 5px;
}
.footer-bottom {
  border-top: 1px solid var(--border-color-2);
}
.footer-bottom p {
  font-size: 14px;
}


/*-----------------------------
 validator-Network Section
-------------------------------*/
.validator-network-section {
  background-image: linear-gradient(to right top, #ff4500, #ec3e11, #d83819, #c5321e, #b12e21);
  min-height: 380px;
  padding: 80px 0;
}

.validator-network-text h1 {
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}
.network-view {
  padding-bottom: 50px;
  background: white;
  padding: 30px 20px;
  box-shadow: var(--shadow-black-300);
  border-radius: 10px;
  margin-bottom: 20px;
}
.validator-network-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.network-view h5 {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 500;
  color: var(--main-color);
}



/*-------------------------------
 21. =accordian section
---------------------------------*/
.accordian{
  padding-bottom: 50px;
  display: block;
  margin: 100px auto;
}

.accordian .card{
  box-shadow: var(--shadow);
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
.accordian .card .card-header{
  background-color: var(--main-color);
  margin: 0;
  padding: 15px 20px;
  cursor: pointer;
}
.accordian .card .card-header h3{
  color: var(--white);
  position: relative;
}
.accordian .card .card-header {
  position: relative;
}
.accordian .card .card-header span{
  position: absolute;
  right: 20px;
  top: 12px;
  height: 25px;
  width: 25px;
  color: var(--main-color);
  background-color: var(--white);
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  font-size: 16px;
}
.accordian .card .card-body{
  padding: 20px;
}
.accordian .card .card-body {
  display: none;
}
/*open one card by default*/
.accordian .card:nth-child(1) .card-body{
  display: block;
}
.accordian .card .card-body p{
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: var(--black-400);
}



/*-------------------------------
 12. =forms
---------------------------------*/
.contact-us-section .form-title {
  font-size: 24px;
  margin: 0 0 30px;
  font-weight: 600;
}
.contact-us-section .form-control::placeholder {
  color: var(--black-70);
}
.form-group {
  margin-bottom: 25px;
  position: relative;
}
.form-control {
  height: 48px;
  border-color: var(--border-color-1);
  color: var(--black-90);
  background-color: transparent;
}
.form-control:focus {
  background-color: transparent;
  border-color: var(--border-color-1);
  color: var(--black-90);
  box-shadow: none;
}
textarea.form-control {
  height: 120px;
  resize: none;
}

/*-------------------------------
 27. =contact section
---------------------------------*/
.contact-us-section {
  background-color: var(--black-100);
}
.contact-item {
  position: relative;
  padding-left: 55px;
  margin-bottom: 40px;
}
.contact-item .icon-box {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: 0;
  top: 0;
  color: var(--white);
}
